

.red {
    color: red;
  }
  
  .black {
    color: black;
  }

#textCard {
font-family: "Libre Baskerville";
font-size: 60px !important;
}

#symbolTop, #symbolBottom {
  font-size: 70px !important;
}